html {
    /*margin: 3vw 3vw 3vw 3vw;*/
    font-family: monospace;
    font-size: 1.5vw;
    /*background-color: orange;*/
    /*color: white;*/
    /*line-height: 2.2vw;*/
    font-weight: light;
}

h1 {
    font-weight: bold;
}

h2, h3, h4, h5, h6{
    /*color: orange;*/
    /*border-bottom: 0.2vw solid orange;*/
}

/*a {
    background-color: white;
    text-decoration: none;
}*/

/*a[href]:hover {
    background-color: black;
}*/

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}
