
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>
		<nav>
			<a href="/">home</a>
			<a href="/lectures">lectures</a>
			<a href="/worksheets">worksheets</a>
			<a href="/assignment">assignment</a>
			<a href="/sources">sources</a>
			<a href="/documentation">documentation</a>
		</nav>

		<div class="container">
			{{ content }}
		</div>

	</body>

    <!-- <script src="/three.min.js"></script>
    <script src="/background.js"></script> -->

</html>
