<!DOCTYPE html>
<!-- SLIDES -->

<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/3DWebTechCourse/lib/reveal-js/css/reveal.css">
		<link rel="stylesheet" href="/3DWebTechCourse/lib/reveal-js/css/theme/black.css">
	</head>

	<body>
		<div class="reveal">
			<div class="slides">
				{{ content }}
			</div>
		</div>

		<script src="/3DWebTechCourse/lib/reveal-js/js/reveal.js"></script>

		<script>
			Reveal.initialize({
			    center: false
			});
		</script>
	</body>

</html>
